.ThermalWidget {
  font-size: adaptiveSize(18, 14);
  &-Temperature {
    display: inline;
  }

  &-Humidity {
    display: inline;
    margin-left: 50px;
  }

  &-HumidityValue {
    margin-right: -3px;
  }
}
