.ThermalWidget {
  font-size: adaptiveSize(18, 14);
  &-Temperature {
    display: inline;
  }

  &-Humidity {
    display: inline;
    margin-left: 50px;
  }

  &-HumidityValue {
    margin-right: -3px;
  }
}

@media (max-width: 450px) {
  .ThermalWidget {
    margin-right: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;

    &-Humidity {
      margin-left: 0;
    }
  }
}

