.PageContent {
  width: 100%;
  flex: 1;
  display: grid;
  grid-template-columns: auto minmax(100px, calc((100vh - 160px) * 1.75)) auto;
  grid-template-rows: 1fr;
  position: relative;

  &-VideoGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 2;
  }
}

.VideoGrid {
  &-ButtonClose {
    position: absolute;
    bottom: 30px;
    right: 30px;
    z-index: 5;
  }
}
