.Card {
  border-radius: $border-radius_primary;
  background-color: $background-color_card_primary;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;

  .Button {
    appearance: none;
    background: transparent;
    border: 0;
    padding: 0;
    display: none;
    cursor: pointer;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    z-index: 1;
  }

  &-Info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: adaptiveSize(18, 12);
  }

  &-Header {
    padding: adaptiveSize(20, 17);
    box-sizing: border-box;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &-Content {
    background-color: $background-color_card_primary;
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: adaptiveSize(20, 17);
    margin-top: -17px;
    box-sizing: border-box;
    flex-grow: 1;

    &:empty {
      display: none;
    }
  }

  body:not(.touch) &:hover {
    box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.5);

    &:not(.Card_type_critical) {
      background-color: $background-color_card_secondary;
    }

    .Card-Content {
      background-color: $background-color_card_secondary;
    }

    .Button {
      display: block;
    }
  }


  &-Source,
  &-Time {
    margin-top: 18px;
  }

  &-Data_type_graph {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    min-height: adaptiveSize(316, 144);
    padding-top: 40%;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;

    img {
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
  }

  &-Data_type_image {
    width: 100%;
    padding-top: 67%;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    pointer-events: none;

    img {
      position: absolute;
      left: 0;
    }
  }

  &-Description {
    font-size: adaptiveSize(20, 18);
  }

  &-Data {
    margin-top: 31px;
  }

  &-CloseButton {
    position: absolute;
    top: 14px;
    right: 14px;
  }

  &-NextButton {
    position: absolute;
    bottom: 14px;
    right: 14px;
  }

  &_size_s {
    grid-column: span 2;
    grid-row: span 1;

    & .Card-Info {
      flex-direction: column;
    }
  }

  &_size_m {
    grid-column: span 3;
    grid-row: span 2;
  }

  &_size_l {
    grid-column: span 4;
    grid-row: span 3;

    & .Card-Description {
      font-size: adaptiveSize(24, 18);
    }
  }

  &_type_critical {
    background-color: $background-color_card_critical;

    & .Card-Header {
      color: #ffffff;
    }

    & .Card-Info {
      padding-bottom: 14px;
    }
  }
}

.DataImage {
  position: absolute;
  bottom: 0;
  height: 100%;
}

.Title {
  display: flex;
  align-items: center;
  height: adaptiveSize(52, 35);

  &-IconWrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  &-Icon {
    width: adaptiveSize(52, 35);
  }

  &-Content {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-left: 16px;
    font-size: adaptiveSize(20, 18);
    text-align: left;
    display: inline;
  }
}

.DataInfo {
  display: none;
}

@media (max-width: 750px) {
  .Card {
    &_size_s {
      grid-column: span 1;
      grid-row: span 1;

      & .Card-Info {
        flex-direction: row;
      }
    }

    &_size_m {
      grid-column: span 1;
      grid-row: span 1;
    }

    &_size_l {
      grid-column: span 1;
      grid-row: span 1;

      & .Card-Description {
        font-size: adaptiveSize(20, 18);
      }
    }

    &-Data_type_image {
      pointer-events: auto;
    }
  }

  .DataInfo {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 0.75em;
    margin-top: 15px;
  }
}
