.Article {
  border-radius: $border-radius_primary;
  background-color: $background-color_card_primary;
  border: 1px solid rebeccapurple; // debug !TODO: remove this shit
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: relative;

  &_size_s {
    grid-column: span 2;
    grid-row: span 1;

    & .Article-Info {
      flex-direction: column;
    }
  }

  &_size_m {
    grid-column: span 3;
    grid-row: span 2;
  }

  &_size_l {
    grid-column: span 4;
    grid-row: span 3;
  }

  &-Info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 1.13em;
  }

  &-Source,
  &-Time {
    margin-top: 14px;
  }

  &-Description {
    font-size: 1.25em;
    width: 100%;
    margin: 5px -20px -20px -20px;
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    background-color: $background-color_card_primary;
    flex-grow: 1;
  }

  &-CloseButton {
    appearance: none;
    background: transparent;
    position: absolute;
    top: 14px;
    right: 14px;
    border: 0;
    padding: 0;
  }

  &_type_critical {
    background-color: $background-color_card_critical;

    & .Article-Header {
      color: #ffffff;
    }

    & .Article-Info {
      padding-bottom: 14px;
    }
  }
}

.Title {
  display: flex;
  align-items: center;

  &-IconWrapper {
    display: inline-flex;
    height: 52px;
    width: 52px;
    align-items: center;
    justify-content: center;
  }

  &-Content {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-left: 16px;
    font-size: 1.5em;
    text-align: left;
    display: inline;
  }
}
