.Article {
  border-radius: $border-radius_primary;
  background-color: $background-color_card_primary;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  .Button {
    appearance: none;
    background: transparent;
    border: 0;
    padding: 0;
    display: none;
    cursor: pointer;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    z-index: 1;
  }

  &-Info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: adaptiveSize(18, 12);
  }

  &-Content {
    background-color: $background-color_card_primary;
    margin: 5px -20px -20px -20px;
    padding: 20px 20px 20px 20px;
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;

    &:empty {
      display: none;
    }
  }

  &:hover {
    box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.5);

    &:not(.Article_type_critical) {
      background-color: $background-color_card_secondary;
    }

    .Article-Content {
      background-color: $background-color_card_secondary;
    }

    .Button {
      display: block;
    }
  }


  &-Source,
  &-Time {
    margin-top: 14px;
  }

  &-Data_type_graph {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    padding-top: 40%;
    overflow: hidden;
    position: relative;

    img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
  }

  &-Data_type_image {
    width: 100%;
    padding-top: 67%;
    overflow: hidden;
    position: relative;
    border-radius: 20px;

    img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
  }

  &-Description {
    font-size: adaptiveSize(20, 18);
  }

  &-Data {
    margin-top: 20px;
  }

  &-CloseButton {
    position: absolute;
    top: 14px;
    right: 14px;
  }

  &-NextButton {
    position: absolute;
    bottom: 14px;
    right: 14px;
  }

  &_size_s {
    grid-column: span 2;
    grid-row: span 1;

    & .Article-Info {
      flex-direction: column;
    }
  }

  &_size_m {
    grid-column: span 3;
    grid-row: span 2;
  }

  &_size_l {
    grid-column: span 4;
    grid-row: span 3;

    & .Article-Description {
      font-size: adaptiveSize(24, 18);
    }
  }

  &_type_critical {
    background-color: $background-color_card_critical;

    & .Article-Header {
      color: #ffffff;
    }

    & .Article-Info {
      padding-bottom: 14px;
    }
  }
}

.DataImage {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.Title {
  display: flex;
  align-items: center;

  &-IconWrapper {
    display: inline-flex;
    height: adaptiveSize(52, 35);
    width: adaptiveSize(52, 35);
    align-items: center;
    justify-content: center;
  }

  &-Content {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-left: 16px;
    font-size: adaptiveSize(20, 18);
    text-align: left;
    display: inline;
  }
}

@media (max-width: 750px) {
  .Article {
    &_size_s {
      grid-column: span 1;
      grid-row: span 1;

      & .Article-Info {
        flex-direction: row;
      }
    }

    &_size_m {
      grid-column: span 1;
      grid-row: span 1;
    }

    &_size_l {
      grid-column: span 1;
      grid-row: span 1;

      & .Article-Description {
        font-size: adaptiveSize(20, 18);
      }
    }
  }
}
