.Header {
  width: 100%;
  height: 95px;
  box-sizing: border-box;
  border-bottom: 1px solid $divider-color;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 45px;
  flex-shrink: 0;

  &-Menu {
    margin-left: 49px;
    font-weight: bold;
    position: relative;
    top: 2px;
  }
}

.Menu {
  font-size: 1em;

  &-ListItem {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
  }

  &-Item {
    margin-right: 28px;

    &_state_active a {
      color: $text-color_primary;
    }

    a {
      text-decoration: none;
      color: $text-color_primary_light;

      &:hover,
      &:active {
        color: $text-color_primary;
      }
    }
  }

  &-Icon {
    width: 16px;
    height: 13px;
  }

  &-Button {
    display: none;
    appearance: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: 0;
  }

  &_size_small {
    font-size: 0.75em;

    .Menu-Item {
      margin-right: 17px;
    }
  }
}

.Logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 2;

  &-Image {
    width: 111px;
    height: 38px;
  }
}


@media (max-width: 850px) {
  .Header {
    justify-content: space-between;
    padding: 0 20px;
    border: 0;
    height: 66px;
    position: fixed;
    background-color: $background-color_primary;
    z-index: 100;

    .Menu-Button {
      display: inline-block;
    }

    .Menu-ListItem {
      display: none;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: fixed;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-size: 1.13rem;
      background-color: rgba($background-color_primary, 0.9);
    }

    .Menu-Item {
      margin-top: 30px;
      margin-right: 0;
    }
  }
}
